#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1rem;
  background-color: #70A0AF;
  color: black;
  margin: 1rem;
  border-radius: 0.75rem;
}

.read-the-docs {
  color: #888;
}

img {
  width: 300px;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
  align-items: center;
  justify-content: center;
}
